/* Article */
.article {
  display: flex;
  margin-bottom: 50px;
}

.article__image-box {
  display: table;
  margin-right: 30px;
  @media (max-width: $mobile) {
    display: none;
  }
}

.article__image {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $gray-white;
}

.article__title {
  margin: 0;
  a {
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    color: $gray;
    &:hover {
      color: $primary-color;
    }
  }
}

.article__meta {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: $gray-dark;
}

.article__excerpt {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 28px;
  color: $gray;
}

.read-more {
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 28px;
  // text-decoration: italic;
  // color: $white;
  // background-color: #588b8b;
  // padding: 4px 8px;
  // border-radius: 4px;
  // display: inline-block;
  // transition: background-color 0.3s, color 0.3s;

  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #588b8b;
  border: 0;
  border-radius: 0;
  padding: 12px 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}


.read-more:hover {
  background-color: #1c3738;
  color: #f4fff8;
}
