/* Page */
.page {
  margin-top: 80px;
  margin-bottom: 80px;
  @media (max-width: $mobile) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.page__head {
  text-align: center;
}

.page__title {
  margin-bottom: 30px;
  font-size: 36px;
  line-height: normal;
}

.page__title:before{
  content:"";
  z-index:-1;
  left:0em;
  top:0em;
  border-width:2px;
  border-style:solid;
  border-color:$primary-color;
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  opacity:0.5;
  border-radius:0.25em;
}

.page__title:after{
  content:"";
  z-index:-1;
  left:0em;
  top:0em;
  border-width:2px;
  border-style:solid;
  border-color:$primary-color;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  opacity:0.5;
  border-radius:0.25em;
}

.page-image {
  margin-bottom: 45px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $gray-white;
  &:after {
    content: '';
    display: table;
    padding-top: 65%;
  }
}

.page__content {
  margin-bottom: 45px;
  p {
    font-size: 16px;
    line-height: 28px;
    color: $dark;
    img {
      margin: 30px 0;
    }
  }
  ul li,
  ol li {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: normal;
  }
}

