<div class="container">
    <!-- begin footer -->
    <footer class="footer">
        <div class="footer__inner">
            <div class="contact">
                <div class="contact__title"> </div>
                <ul class="contact__list list-reset">
                    <li class="contact__item">
                        <a class="contact__link" href="https://www.linkedin.com/in/kiranaananda/"> <img src="https://static.thenounproject.com/png/2386251-200.png" width=20px> LinkedIn</a>
                    </li>
                    <li class="contact__item">
                        <a class="contact__link" href="https://www.instagram.com/kiranaananda/"> <img src="https://static.thenounproject.com/png/3350460-200.png" width=20px> Instagram</a>
                    </li>
                    <li class="contact__item">
                        <a class="contact__link" href="mailto:kiranadwima@gmail.com"> <img src="https://static.thenounproject.com/png/303076-200.png" width=30px>  Email Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- end footer -->
</div>
