<div class="container">
    <!-- begin footer -->
    <footer class="footer">
        <div class="footer__inner">
            <div class="contact">
                <div class="contact__title"> Contact me </div>
                <ul class="contact__list list-reset">
                    <li class="contact__item">
                        <a class="contact__link" href="{{contact.link}}"> <img src="{{site.baseurl}}/assets/img/linkedin.png" width="20"></a>
                    </li>
                    <li class="contact__item">
                        <a class="contact__link" href="{{site.author.email}}"> <img src="{{site.baseurl}}/assets/img/gmail.png" width="24"></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- end footer -->
</div>
