// *****************
// Color Variables
// *****************
$primary-color: #588b8b;
$secondary-color: #8b5858;
$dark: #333;
$gray: #666;
$gray-dark: #999;
$gray-blue: #b3bbcb;
$gray-white: #f8f8f8;
$gray-lighten: #c7d0e2;
$white: #fff;

// *****************
// Font Variables
// *****************
$title: 'Playpen Sans';
$text: 'Hind Siliguri';
$quote: 'Lora;
